.projects {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.projects-left {
    flex: 10 10 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; 
    position: relative;
}
.image-box {
    border: 1px solid black;
    width: 50%;
    /* height: 540px; */
    /* width:100px;
    height: 100px; */

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */

    flex-wrap: wrap;
    /* height: 150px; */
    
}

.image-description-show{
    color: red;
    position: absolute;
    width: 50%;
    /* z-index: 100; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    /* overflow: hidden; */
    flex-wrap: wrap;
    /* border: 1px solid red; */
}

.project-image {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    cursor: pointer;
    background-size: cover;
    background-position: center;
    position: relative;

}

.blur {
    /* z-index: 1; */
    filter: blur(2px);
    /* background: black; */
    /* background-color: rgba(0, 0, 0, 0.24); */
    
    /* border: 1px solid red; */
}

.card {
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* background-color: rgba(0, 0, 0, 0.24);
     */
    /* width: 10%;
    height: 10%; */
    /* z-index: 2; */
    border: 1px solid green;
    color: red;
    flex-wrap: wrap;

    /* word-wrap: break-word; */
    /* overflow: hidden; */
}



.description-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-descriptions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
  

.project-description-sub-box {
    flex: 4 4 40%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
  
}

.project-title {
    font-size: 20px;
    margin: 10px;
    color: #08fdd8;
    /* color: red; */
}

.project-date {
    font-size: 20px;
    margin: 10px;
    color: rgb(22, 22, 22);
    color: #08fdd8;

}

.project-description {
    font-size: 18px;
    margin: 10px;
    color: #08fdd8;
    /* word-wrap: break-word; */
    /* overflow: hidden; */
    /* text-align: center; */
}

.project-technologies {
    font-size: 16px;
    margin: 10px;
    color: #08fdd8;
}

.projectCard-container{ 
    z-index: 200;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.projectCard {
    width: 600px;
    /* height: 100%; */
    margin-top: 220px;
    background-color: black;
    color: #08fdd8;
    border-radius: 4px;

}

.yoo{
}

@media only screen and (max-width: 768px) {
    .image-box {
        border: 1px solid black;
        width: 100%;
        /* border-radius: 10px; */
        flex-wrap: wrap;
        /* border: 1px solid red; */
        /* height: 150px; */
        /* margin-top: 10px; */
    }
    
}

